<div class="form-floating mb-3 mt-4">
    <form action="" method="post">
        <input type="text" class="form-control" name="q" id="floatingInput" placeholder="nhập từ khóa">
        <button type="submit" class="btn-success btn mt-4"> Tìm kiếm</button>
    </form>
</div>